html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width:400px) {

html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #000000;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
	position: relative;

	-webkit-text-size-adjust: none;
}

body * {
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 20px 0 10px 0;
}

h1, h2, h3 {
	font-size: 18px;
}

h4, h5, h6 {
	font-size: 16px;
}

p {
	margin: 0 0 10px 0;
} 

a, a:link, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: none;
}

nav:not(.mm-menu) {
	display: none;
}

.header {
	background: #000000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #FFB100;
	line-height: 40px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 400px;
	height: 100%;
	padding: 0 50px;
}

.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.header a {
	background: center center no-repeat transparent;
	color: #ffffff;
	font-weight: 100;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}

#menu {
	color: #ffffff;
	display: inline;
}

#top-header {
	color: #ffffff;
	display: inline;
	padding: 25px;
	margin-left: 30%;
}

#search-container {
	background-color: #000000;
	width: 400px;
	height: 57px;
	padding: 0px;
}

#search {
	float: left;
}

#search-bar {
	background-color: #000000;
	width: 400px;
	height: 32px;
}

#search-bar input {
	width: 200px;
	height: 8px;
	font-size: 14px;
	text-align: left;
	padding: 19px 10px 19px 10px;
	border-radius: 5px;
	border: none;
	margin-top: 9px;
	margin-left: 7px;
}

 ::-webkit-input-placeholder {
   font-size: 14px;
   text-align: center;
}

#view-toggle {
	width: 200px;
	height: 32px;
	float: right;
	margin-top: -15px;
	margin-right: -5px;
	text-align: center;
}

#index-toggle {
	padding: 8px 30px 8px 30px;
	border: solid 1px #333333;
	border-right: 0px;
	border-radius: 5px 0px 0px 5px;
}

 #list-toggle {
	padding: 8px 30px 8px 30px;
	border: solid 1px #333333;
	border-radius: 0px 5px 5px 0px;
	margin-left: -4px;
}

#view-toggle a:hover {
	background-color: #171717;
	color: #FFB100;
}

#map-canvas {
    width: 400px;
    height: 1200px;
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

table { 
 	width: 100%; 
 	background-color:#ffffff;
 	color: #000000;
}

.thumb-img {
 	vertical-align: middle;
 	width: 100px;
}

.list-name {
 	text-align: center;
 	width: 160px;
}

.list-reward {
 	font-weight: 400;
 	letter-spacing: 2px;
 	color: #04B204;
 	text-align: center;
 	width: 70px;
}

.list-caution {
	;letter-spacing: 2px;
 	text-align: center;
 	width: 70px;
}

.list-img {
 	width: 100px;
}

tr.hover {
   cursor: pointer;
}

#profile-container {
	background-color: #ffffff;
	color: #000000;
	width: 400px;
}

#profile-img {
	width: 300px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

#profile-img img {
	width: 200px;
}

#profile-info {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#firstlastname {
	text-align: center;
	color: #FFB100;
}

#info-card-container {
	width: 350px;
	padding-top: 25px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
}

table {
	border-collapse: collapse;
}

.info-card-row {
	border-bottom: solid #FFB100 1px;
}

.cat-title {
	text-align: left;
	width: 150px;
	font-weight: 600;
}

.cat-answer {
	text-align: right;
	width: 150px;
}

#profile-map-canvas {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

}